.jumbotron{
    background-color: yellow;
    color: black;
    margin-top:50px;
}



footer{
    
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 250px;
    text-align: justify;
}

.btn-reserva{
    width: 100%;
    border-radius: 0;
     
}

.footer-addres-icon{
    padding: 10px;
}
.plus {
    
    padding: 5px;
}


.tab-content{
    
    padding-top: 10px;
}

.btn-outline-success{
    margin-top: 15px;
}