/* Scss Document */
$yellow: #fffa19;
$blue: #025377;
$green:#235434;

@mixin margenes($top, $bottom){
    
    margin-top: $top;
    margin-bottom: $bottom;
    
}

@mixin font{
    
    font-family: 'Anton', sans-serif;
    
    
}


.jumbotron{
    background-color: $yellow;
    color: $blue;
    font-weight: bold;
    @include margenes(50px, 15px);
    @include font;
}

footer{ 
    
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px, 0px);
    color:$green;
}

.card-hotel{
    flex: 1 250px;
    text-align: justify;
}

.btn-reserva{
    width: 100%;
    border-radius: 0;
     
}

.footer-addres-icon{
    padding: 10px;
}

.plus {
    
    padding: 5px;
}


.tab-content{
    
    padding-top: 10px;
}

.btn-outline-success{
   @include margenes(15px, 0px);
    
}
