/* Scss Document */
.jumbotron {
  background-color: #fffa19;
  color: #025377;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 15px;
  font-family: 'Anton', sans-serif; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #fffa19;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #235434; }

.card-hotel {
  flex: 1 250px;
  text-align: justify; }

.btn-reserva {
  width: 100%;
  border-radius: 0; }

.footer-addres-icon {
  padding: 10px; }

.plus {
  padding: 5px; }

.tab-content {
  padding-top: 10px; }

.btn-outline-success {
  margin-top: 15px;
  margin-bottom: 0px; }
